/* Global Layout Set-up */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: #222;
  background: #d2d2d2;
}

/* Link Styles */
a {
  text-decoration: none;
  color: rgba(255,255,255,0.7);
}
a:hover {
  color: #fff;
}

/* Section Styles */
.main-nav {
  width: 100%;
  background: #1F5178;
  min-height: 30px;
  padding: 10px;
  position: fixed;
  text-align: center;
}
.nav {
  display: flex;
  justify-content: space-around;
  font-weight: normal;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
}
.nav .name {
    display: block;
    margin-right: auto;
    color: white;
}
.nav li {
  padding: 5px 10px 10px 10px;
}
.nav a {
  transition: all .5s;
}
.nav a:hover {
  color: white;
  font-weight: 700;
}
.hero-home {
  text-align: center;
  background: url('img/home-header-bg.jpg') no-repeat top center;
  background-size: cover;
  overflow: hidden;
  padding-top: 60px;
}

header {
  line-height: 1.5;
}
header .profile-image {
  margin-top: 50px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 1px solid white;
  box-shadow: 0 2px 10px rgba(33,33,33,.1);
  transition: all .3s;
}
header .profile-image:hover {
  box-shadow: 0 11px 50px rgba(33,33,33,.2);
  border: 3px solid #1F5178;
}
main {
  border-top: 1px solid #949494;
}
.tag {
  background-color: #efefef;
  color: black;
  padding: 10px 20px;
  border-radius: 5px;
  display: table;
  margin: 10px auto;
}
.location {
  background-color: #1F5178;
  color: white;
}

.card {
  margin: 30px;
  padding: 20px 40px 40px;
  max-width: 500px;
  text-align: left;
  background: #fff;
  border-bottom: 4px solid #ccc;
  border-radius: 6px;
  transition: all .5s;
}
.card:hover {
  border-color: #1F5178;
}
.card-wide {
  margin: 30px;
  padding: 100px;
  width: 1100px;
  text-align: center;
  border-radius: 6px;
  text-transform: uppercase;
  font-size: 60px;
  background:linear-gradient(0deg,rgba(31,81,120,0.9),rgba(31,81,120,0.9)), url('img/cta-bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
ul.skills {
  padding: 0;
  text-align: center;
}
.skills li {
  border-radius: 6px;
  display: inline-block;
  background: #f0f9ff;
  color: #1F5178;
  padding: 10px 15px;
  margin: 2px;
}

/* I am commenting out the code below on purpase to help simplify the design. But I do understand that the nth-child(odd) is targetting the odd number list items. */
/* .skills li:nth-child(odd) {
  background: #1F5178;
} */

/* Experince Page Start*/
.flex2 {
  display: flex;
  flex-direction: column;
  justify-content:center;
}
.hero-exp {
  text-align: center;
  background: url('img/exp-header-bg.jpg') no-repeat top center;
  background-size: cover;
  overflow: hidden;
  padding-top: 60px;
}
.hero-text {
  font-size: 50px;
}
.description-spacer {
  margin-top: 0px;
  margin-bottom: 50px;
}
.exp-card {
  margin: 30px;
  padding: 20px 40px 40px;
  max-width: 700px;
  text-align: left;
  background: #fff;
  border-bottom: 4px solid #ccc;
  border-radius: 6px;
  transition: all .5s;
}
/* Exp End */

footer {
  width: 100%;
  min-height: 30px;
  padding: 20px 0 40px 20px;
}
footer .copyright {
  top: -8px;
  font-size: .75em;
}
footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
footer ul li {
  display: inline-block;
}
a.social {
  display: inline-block;
  text-indent: -9999px;
  margin-left: 5px;
  width: 30px;
  height: 30px;
  background-size: 30px 30px;
  opacity: .4;
  transition: all .5s;
}
a.linkedin {
  background-image: url(img/linkedin.svg);
}
a.github {
  background-image: url(img/github.svg);
}
a.social:hover {
  opacity: 1;
}
.clearfix {
  clear: both;
}

/* Styles for larger screens */
@media screen and (min-width: 720px) {

  .flex {
      display: -ms-flexbox;      /* TWEENER - IE 10 */
      display: flex;
      max-width: 1200px;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      margin: 0 auto;
  }

  header {
    min-height: 470px;
  }

  .nav {
    max-width: 1200px;
    padding: 0 30px;
  }


  main {
    padding-top: 20px;
  }

  main p {
    line-height: 1.6em;
  }

  footer {
    font-size: 1.3em;
    max-width: 1200px;
    margin: 40px auto;
  }

}

/*  Styles for under 720px*/
@media screen and (max-width: 719px) {
  .card-wide {
    width: 100%;
    margin: 0px;
    padding: 20px;
    border-radius: 0px;
  }
}
